body {
    background-image: url("https://wallpapercave.com/wp/wp2757834.gif");
    padding-botton: 30px;
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 122, 122);
}

#search-bar {
    color:
}

button {
    background-color: transparent;
    border-color: transparent;
    color: rgb(64, 184, 224);
    font-weight: bolder;
    font-size: 20px;
}

#restart,
#add-game {
    color: black;
    background-color: rgb(255, 122, 122);
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black
}

#game-search {
    color: rgb(255, 122, 122);
}

p {
    color: rgb(255, 122, 122);
}

footer {
    color: rgb(255, 122, 122);
    height: 30px;
    position: fixed;
    bottom: 0px;
}